.navbar {
  height: 60px;
  width: 100%;
  background-color: rgb(53, 160, 160);
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.5), 2px 2px 5px rgba(50, 50, 50, 0.2);
}

.sidebar {
  width: 4%;
  height: 100vh;
  background-color: beige;
  margin-top: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.sidebar_button {
  height: 50px;
  width: 90%;
  background-color: cadetblue;
  border: none;
  margin-top: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar_button:hover {
  background-color: rgb(64, 106, 107);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

.body_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.input_tab_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 95%;
  margin-top: 10px;
}

fieldset {
  height: auto;
  width: 40%;
  margin-top: 5px;
  border-radius: 8px;
}

.option_button {
  height: 36px;
  width: 150px;
  background-color: cadetblue;
  border: none;
  margin: 2px;
  border-radius: 6px;
}

.option_button:hover {
  background-color: rgb(64, 106, 107);
  color: aliceblue;
  cursor: pointer;
}

.select_entity_label {
  margin-top: 16px;
}

.entity_type_selectors {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input_elem {
  width: 90%;
  height: 28px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.678);
  padding-left: 8px;
  text-wrap: nowrap;
}

.save_btn {
  height: 36px;
  width: 150px;
  background-color: cadetblue;
  border: none;
  margin: 2px;
  border-radius: 6px;
}

.save_btn:hover {
  background-color: rgb(64, 106, 107);
  color: aliceblue;
  cursor: pointer;
}

.display_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
}

.display_list {
  min-width: 24%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin: 2px;
  border-radius: 8px;
}

.list_title {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  border-radius: 8px 8px 0 0;
  color: aliceblue;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.678), 2px 2px 8px rgba(50, 50, 50, 0.2);
  cursor: pointer;
}

li {
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: #333;
}

.selectedBtn {
  background-color: rgb(64, 106, 107);
}
